<a href="https://colab.research.google.com/github/Janith-20/MED23CL202-/blob/main/python_med.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.getcwd()
os.chdir('/content/sample_data')

#Variable and data type

In [ ]:
x=7
y=10
z=x+y
print(z)
print(z-x)
print (z+y)
print (x*3)

17
10
27
21

int() #integer () fuction call

**the data types supperted by python as**

int (integer)

float (floating point values)

bool (boolean)

str (string)

#**list**

In [ ]:
a='is'
b='nice'
list1=('my','list',a,b)
list2=[[1,2,3,4],[4,5,6,7]]
list1[:2]

('my', 'list')

In [ ]:
x=[1,2,3]
y=[10,20,30]
z=[x,y]
print (z)
u=x+y
print (u)

[[1, 2, 3], [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

# accessing the elements of the list

In [ ]:
#select the first element of the list
print(x)
x[0]

[1, 2, 3]

1

In [ ]:
#select the last element of the list
x[-1]

3

In [ ]:
#select 1st inclusive and 3rd exclusive
x[1:3]

[2, 3]

In [ ]:
#select 2nd to the end of x1 =['a','b','c','d','e']
x[2:]

[3]

In [ ]:
#list operatorsn : comma,+,*
y=[10,20,30]
y*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
y+y

[10, 20, 30, 10, 20, 30]

In [ ]:
22/3 #division solution with decimal

7.333333333333333

In [ ]:
22//3 #division solution with no decimal

7

In [ ]:
22%3 #modulus

1

#Assigenment Operators

In [ ]:
a=5 #assigening a value to a
print (a)
x=[10,20,30]
x[0]=1 #changing the value of a item in a list
print (x)

5
[1, 20, 30]

#Relational Operators

In [ ]:
3==3 #test for equality
3!=3 #test for inequality
3>3 #test for greater than
3<3 #test for less than
3>=3 #test for greator than or equal to
3<=3 #test for less than or equal to

True

#Logical Operators

In [ ]:
not (2==3) #use of NOT gate
(1==1)and (2==1) #use of AND gate
(1==2) or (1==1)#use of OR gate

True

#Python in-built data structure

1.list

2.tuple

3.dictionary

4.set

List: Ordered,mutable collection that can store items or different data types.they are defined using square brackets [].

In [ ]:
my_list =[1,"hello",3.14]

Tuples:Ordered,immutable collections,meaning their contents cannot be changed after creation. they are defined using parentheses ().

In [ ]:
my_tuples=(1,"hello",20.1)

Dictionary: unordered collection of key-value pairs,where each key must be unique. they are defined using curly braces with key value pairs seperated by colons.

In [ ]:
my_dict ={"name":"alice","age":"30"}
my_intro ={"name":"janith","age":"18","grade":"A+"}
my_intro

{'name': 'janith', 'age': '18', 'grade': 'A+'}

sets:unordered collection of unique elements.they do not allow duplicate values and are defined using curly braces {}.

In [ ]:
my_set ={1,2,3,2}
my_set

{1, 2, 3}

Datastructure: different ways of storing ,accesing and manupulating of data in the storage of the system.

#List Operations

In [ ]:
mylist=['a','b','c','d']
mylist.index('a')

0

In [ ]:
mylist=[1,2,2,3,4,5]
mylist.count(2)

2

In [ ]:
mylist.append(6)
mylist

[1, 2, 2, 3, 4, 5, 6]

In [ ]:
mylist.remove(6)
mylist

[1, 2, 2, 3, 4, 5]

In [ ]:
del(mylist[0:1])
mylist

In [ ]:
mylist.reverse()
mylist

[1, 2, 2, 3, 4, 5]

In [ ]:
mylist.extend(my_list)
mylist

[1, 5, 1, 1, 1, 'hello', 3.14]

In [ ]:
mylist.pop(-1)#poping items from right side
mylist
mylist.pop(1)#poping items from left side
mylist

[1, 5, 1, 1]

In [ ]:
mylist.insert(0,'hi')
mylist

['hi', 1, 5, 1, 1, 1, 'hello', 3.14]

In [ ]:
mylist.sort()
mylist

TypeError: '<' not supported between instances of 'int' and 'str'

#string

In [ ]:
mystring="welcome to python"
mystring

'welcome to python'

In [ ]:
mystring[3]

'c'

In [ ]:
mystring[4:9]

'ome t'

In [ ]:
mystring.upper()

'WELCOME TO PYTHON'

In [ ]:
mystring.count('o')

3

In [ ]:
mystring.replace('o','i')

'welcime ti pythin'

#List processing in python

return a list where each element is a running sum.

**Example:**

sample input:-[10,20,5,1]

output:-[10,30,35,36]

In [ ]:
def rs(nums):
  result=[]
  total=0 #initialise total to zero
  for n in nums: #start the loop for running sum
    total+=n #add the value to total
    result.append(total)
  return(total)
print(rs([10,20,5,1]))

36

In [ ]:
#now only print the total of the given number.
def rs(nums):
  total=0 #initialise total to zero
  for n in nums: #start the loop for running sum
    total+=n #add the value to total
  return(total)
print(rs([10,20,5,1]))

#Count the no.of even numbers in the list

In [ ]:
def even(nums):
  count=0
  for n in nums:
    if n%2==0:
      count+=1
  return count
print(even([10,1,3,4,6]))

3

#Reverse List

In [ ]:
def rlist(nums):
  return nums[::-1]
print(rlist([1,2,3,4]))
list=[1,2,3,4]
print(list[::-2])
print(list[::-3])

[4, 3, 2, 1]
[4, 2]
[4, 1]

#Finding max number in a list

In [ ]:
def max(nums):
  m=nums[0]
  for n in nums:
    if n>=m:
      m=n
  return m
print(max([10,10,3,4]))

10

#Finding min number in a list

In [ ]:
def min(nums):
  m=nums[0]
  for n in nums:
    if n<=m:
      m=n
  return m
print(min([10,10,3,4]))

3

#Give 2D list where each row deposits in customers account.

#**Experiment no.4**

---


##Objective:
To design a menu driver application for grocery store checkout system using list data structure in python.